<p id="notice"><%= notice %></p>

<p>
  <b>Option:</b>
  <%= @option.option %>
</p>

<p>
  <b>Question:</b>
  <%= @option.question %>
</p>


<%= link_to 'Edit', edit_option_path(@option) %> |
<%= link_to 'Back', options_path %>
