<div class="page-header">
	<h1>Charts</h1>
	
</div>



<ul class="nav nav-tabs">
  <li class="active">
    <a href="#">Single Analysis</a>
  </li>
  <li><a href="/charts/life"><i class="icon-shopping-cart"></i>About Life</a></li>
<li><a href="#"><i class="icon-bookmark"></i>About Work</a></li>
<li><a href="#"><i class="icon-cog"></i>About Venture & Development</a></li>
</ul>



<%= select_tag "question", options_from_collection_for_select(Question.all, "id", "question"), :prompt => "Select a question" %>

<script>
	$(document).ready(function () 
	{
	    $("#question").change(function(){
	        location.href="/charts/questions/"+this.options[this.selectedIndex].value;
	    });
	});
</script>

<% if @question %>
	<h2>
		<%= @question.question %>
	</h2>

	<% if !@question.options.blank? %>
		<!--chart-->
		<div class="span12">
			<%= link_to chart_path(@question,"column"),class: "btn btn-success" do %>
				<i class="icon-white icon-signal"></i> Column
			<% end %>
			<%= link_to chart_path(@question,"pie"),class: "btn btn-success" do %>
				<i class="icon-white icon-th-large"></i> Pie
			<% end %>
		</div>
		<div id="container" class="span12" style="height: 400px"></div>
		
		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			<% for option in @question.options %>
				<tr>
					<th>
						<%= option.option %>
					</th>
					<td>
						<%= @answers[option.option_id] %>
					</td>
				</tr>
			    
			  <% end %>
			</tbody>
		</table>
	  

	


	<script>
		var chart_type = '<%= params[:chart_type]||="pie" %>'; //default is pie
		$(document).ready(function() {
		      chart = new Highcharts.Chart({
					chart: {
						renderTo: 'container',
						type: chart_type
					},
					title: {
						text: '<%= @question.question %>'
					},
					<% if params[:chart_type]=="pie" %>
						plotOptions: {
									pie: {
										allowPointSelect: true,
										cursor: 'pointer',
										dataLabels: {
											enabled: true,
											color: '#000000',
											connectorColor: '#000000',
											formatter: function() {
												return '<b>'+ this.point.name +'</b>: '+ Highcharts.numberFormat(this.percentage, 1) +' %';
											}
										}
									}
								},
								series: [{
											type: 'pie',
											<% 
												data = Hash.new
												@question.options.each do |option| 
													data[option.option]=@answers[option.option_id]
												end
											%>
											data: <%= raw data.to_a %>
										}]
					<% else %>
						xAxis: {
										<% 
												category = []
												@question.options.each do |option| 
													category << option.option
												end
										%>
							categories: <%= raw category.to_a %>,
							labels: {
											rotation: -20,
											align: 'right',
											style: {
												font: 'normal 13px Verdana, sans-serif'
											}
										}
						},
						yAxis: {
							min: 0,
							title: {
								text: 'Numbers'
							}
						},
						
						series: [{
									type: 'column',
									name: 'total',
									<% 
										data = []
										@question.options.each do |option| 
											data << @answers[option.option_id]
										end
									%>
									data: <%= raw data.to_a %>
								}]
					<% end %>
					
				});
		   });
	</script>
	<% else %>
  
	<% end %>
<% end %>